
{% load static %}
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
       
        <link rel="icon" href="{% static 'assets/img/favicon.ico' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
       
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <script src="https://kit.fontawesome.com/a4e6fc71fe.js" crossorigin="anonymous"></script>
        <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <title>Golden Sneaker</title>
</head>
<body>
    <div class="main">
    <div class="our-product">
        <div class="header-img">
            <img src="{% static 'assets/img/nike.png' %}" alt="photo-header">
        </div>
        <div class="title-product">Our Products</div>
        <div class="list" id="list-products">
            {% for shoe in Shoes %}
          
            <div class="product-item-{{shoe.id}} product-item">
                <div class="image" style="background-color: {{shoe.color}}"> 
                  <img src="{{shoe.image}}" alt="photo-{{shoe.id}}">
                </div>
                <div class="name">{{shoe.name}}c</div>
               
                <div class="description">{{shoe.description}}</div>
                <div class="bottom">
                  <div class="price">{{shoe.price}}</div>
                  <button class="btn-add" onClick="handleAddToCart({{shoe.id}},{{shoe.price}})">Add to cart</button>
                  <div class="btn-added" style="display:none;">
                    <img src="{% static 'assets/img/check.png' %}" alt="checked" style="max-width: 120%;"> 
                  </div>
                </div>
              </div> 
              {% endfor %}

        </div>

    </div>
    <div class="your-cart">
        <div class="header-img">
            <img src="{% static 'assets/img/nike.png' %}"alt="photo-header">
        </div>
        <div class="title-cart">Your Cart
            <span class="cardTitleAmount" style="float: right">$0.00</span>
        </div>
        <div class="list" id="list-carts">
          <p id ="empty1" >Your cart is empty</p>
        </div>

    </div>
</div>

</body>
<script src="{% static 'assets/js/main.js' %}"></script>
</html>